
body {
    font-family: 'Quicksand', sans-serif;
    margin: 25px 50px 75px 50px;
    background-color: #3271e7;
    color: whitesmoke;
}


.center {
    text-align: center;
    
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, yellow);
  }